$body-bg: #F8E8C9;
$theme-colors: (
    "almond": #F8E8C9,
    "vegas-gold": #D6BA73,
    "ess-blue": #ccd8d9,
    "eton-blue": #8BBF9F,
    "mountbatten": #987284,
    "lavender": #FDECF4,
    "middle-grey": #857E7B,
    "smoky-black": #191516,
    "sticky-1": #feff9c,
    "sticky-2": #fff740,
    "sticky-3": #7afcff,
    "sticky-4": #ff7eb9
);
@import '~bootstrap/scss/bootstrap';
body {
    font-family: 'Rubik', sans-serif;
}
.hand {
    cursor: pointer;
}

.slide-in {
    position: relative;
    -webkit-animation: slideIn 1s forwards;
    -moz-animation: slideIn 1s forwards;
    -o-animation: slideIn 1s forwards;
    animation: slideIn 1s forwards;
}
.slide-in-slow {
    position: relative;
    -webkit-animation: slideIn 2s forwards;
    -moz-animation: slideIn 2s forwards;
    -o-animation: slideIn 2s forwards;
    animation: slideIn 2s forwards;
}
@-webkit-keyframes slideIn {
    0%   { top: 100vh; }
    100% { top: 0vh; }
}
@-moz-keyframes slideIn {
    0%   { top: 100vh; }
    100% { top: 0vh; }
}
@-o-keyframes slideIn {
    0%   { top: 100vh; }
    100% { top: 0vh; }
}
@keyframes slideIn {
    0%   { top: 100vh; }
    100% { top: 0vh; }
}
@-webkit-keyframes slideOut {
    0%   { top: 0vh; }
    10% { top: 100vh; }
    100% { top: 100vh; }
}
@-moz-keyframes slideOut {
    0%   { top: 0vh; }
    10% { top: 100vh; }
    100% { top: 100vh; }
}
@-o-keyframes slideOut {
    0%   { top: 0vh; }
    10% { top: 100vh; }
    100% { top: 100vh; }
}
@keyframes slideOut {
    0%   { top: 0vh; }
    10% { top: 100vh; }
    100% { top: 100vh; }
}
.slide-over {
    position: relative;
    -webkit-animation: slideOver 0.7s forwards;
    -moz-animation: slideOver 0.7s forwards;
    -o-animation: slideOver 0.7s forwards;
    animation: slideOver 0.7s forwards;
}
@-webkit-keyframes slideOver {
    0%   { left: -50%; }
    100% { left: 0; }
}
@-moz-keyframes slideOver {
    0%   { left: -50%; }
    100% { left: 0; }
}
@-o-keyframes slideOver {
    0%   { left: -50%; }
    100% { left: 0; }
}
@keyframes slideOver {
    0%   { left: -50%; }
    100% { left: 0; }
}
.slide-back {
    position: relative;
    -webkit-animation: slideBack 0.3s forwards;
    -moz-animation: slideBack 0.3s forwards;
    -o-animation: slideBack 0.3s forwards;
    animation: slideBack 0.3s forwards;
}
@-webkit-keyframes slideBack {
    0%   { right: -50%; }
    100% { right: 0; }
}
@-moz-keyframes slideBack {
    0%   { right: -50%; }
    100% { right: 0; }
}
@-o-keyframes slideBack {
    0%   { right: -50%; }
    100% { right: 0; }
}
@keyframes slideBack {
    0%   { right: -50%; }
    100% { right: 0; }
}
.fade-out {
    -webkit-animation: fadeOut 2s forwards;
    -moz-animation: fadeOut 2s forwards;
    -o-animation: fadeOut 2s forwards;
    animation: fadeOut 2s forwards;
}
@-webkit-keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@-moz-keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@-o-keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}


#post-button {
    cursor: pointer;
}
#post-button:hover {
    opacity: 0.7;
}