
<div id="dashboard-container" class="row">
    <div class="col-12">
        <div class="text-center">
            <div class="row">
                <div class="col-12 col-md-2 px-2 px-md-0 pl-md-2 py-0 h-100">
                    <div class="d-flex flex-row">
                        <div class="col-12 px-1 mb-2">
                            <% previous = '' %>
                            <% @reflex_pages['dashboard-items'].each do |page, b| %>
                                <% if b == true || b == false %>
                                    <% if b %>
                                        <% previous = page  %>
                                    <% end %>
                                <% end %>
                            <% end %>
                            <% @reflex_pages['dashboard-items'].each do |page, b| %>
                                    <% if b == true || b == false %>
                                        <% if b %>
                                            <div class="d-flex flex-row justify-content-end border-bottom border-eton-blue">
                                                <%= content_tag(:p, page.capitalize, id: "#{page}-button", class: 'h5 slide-over mb-1 px-1 text-mountbatten') %>
                                            </div>
                                        <% elsif page == @reflex_pages['dashboard-items']['previous'] %>
                                            <div class="d-flex flex-row justify-content-start border-bottom border-eton-blue">
                                                <%= content_tag(:a, page.capitalize, id: "#{page}-button", class: ' h5 slide-back mb-1 px-1 text-eton-blue hand', data: { reflex: 'click->ProjectDashboard#toggle_dashboard_item', vars: @reflex_variables, page: page, previous: previous }) %>
                                            </div>
                                        <% else %>
                                            <div class="d-flex flex-row justify-content-start border-bottom border-eton-blue">
                                                <%= content_tag(:a, page.capitalize, id: "#{page}-button", class: ' h5 d-flex flex-row justify-content-start mb-1 px-1 text-eton-blue hand', data: { reflex: 'click->ProjectDashboard#toggle_dashboard_item', vars: @reflex_variables, page: page, previous: previous }) %>
                                            </div>
                                        <% end %>
                                    <% end %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-10 px-2 mb-2">
                    <% @reflex_pages['dashboard-items'].each do |page, b| %>
                        <% if b == true || b == false %>
                            <% if @reflex_pages['dashboard-items'][page] %>
                                <%= render "projects/show/dashboard/#{page}" %>
                            <% end %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
