
<div id="dashboard-container" class="row mt-4">
    <div class="col-12">
        <div class="bg-lavender px-4 py-4 rounded shadow text-center">
            <h4 id="dashboard">This is where we will see recent activity and discussion posts</h4>
        </div>
    </div>
</div>
